<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                Home
            </NavLink>
        </div>        
        <div class="nav-parent-item px-3">
            <NavLink class="nav-link">
                Projects
            </NavLink>
        </div>
        <div class="nav-child-item px-3">
            <NavLink class="nav-link" href="fashionplace" @onclick="ToggleNavMenu">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;FashionPlace
            </NavLink>
        </div>
        <div class="nav-child-item px-3">
            <NavLink class="nav-link" href="gamehub" @onclick="ToggleNavMenu">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;GameHub
            </NavLink>
        </div>
        <div class="nav-child-item px-3">
            <NavLink class="nav-link" href="dungeon" @onclick="ToggleNavMenu">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;Dungeon
            </NavLink>
        </div>
        <div class="nav-child-item px-3">
            <NavLink class="nav-link" href="lost" @onclick="ToggleNavMenu">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;Lost
            </NavLink>
        </div>
        <div class="nav-child-item px-3">
            <NavLink class="nav-link" href="carinfouk" @onclick="ToggleNavMenu">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;CarInfoUK
            </NavLink>
        </div>
        <div class="nav-child-item px-3">
            <NavLink class="nav-link" href="luckyyou" @onclick="ToggleNavMenu">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;LuckyYou
            </NavLink>
        </div>
        <div class="nav-child-item px-3">
            <NavLink class="nav-link" href="heathrowebsite" @onclick="ToggleNavMenu">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;HeathroWebsite
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contacts" @onclick="ToggleNavMenu">
                Contacts
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}