@page "/carinfouk"

<PageTitle>CarInfoUK</PageTitle>

<img src="assets/carinfouk-image.jpg" alt="Screenshot of CarInfoUK telegram bot" class="screenshot" />

<div class="container">

    <div class="description">
        <p>
            Here you see a screenshot of a Telegram bot based on a .NET Console App.
        </p>
        <p>
            This chatbot provides car details from the DVLA database. All you need to do is text it a registration plate number.
        </p>
        <p>
            It is not currently hosted, but you are more than welcome to take a look at the source code on <a href="https://github.com/Heathro/CarInfoUK">GitHub</a>.
        </p>
    </div>

</div>