@page "/contacts"
@inject NavigationManager nav

<PageTitle>Contacts</PageTitle>

<div class="container">

    <div class="title">
        <p>Get in touch</p>
    </div>

    <div>        
        <a class="icon" href="mailto:andrei.gerasjov@gmail.com">
            <img src="assets/gmail.png" alt="Gmail Logo" />
        </a>
        <a class="icon" href="https://www.linkedin.com/in/andrei-gerasjov/">
            <img src="assets/linkedin.png" alt="Linkedin logo" />
        </a>
        <a class="icon" href="https://github.com/Heathro">
            <img src="assets/github.png" alt="Github logo" />
        </a>
        <a class="icon" href="https://www.youtube.com/channel/UCg0a3GRI85AyeaBCH-MweZg">
            <img src="assets/youtube.png" alt="Youtube logo" />
        </a>
        <a class="icon" href="https://heathro.itch.io/">
            <img src="assets/itchio.png" alt="Itch.io logo" />
        </a>
        <a class="icon" href="https://www.codewars.com/users/Heathro">
            <img src="assets/codewars.png" alt="Codewars logo" style="border-radius: 50%;" />
        </a>
        <a class="icon" href="https://twitter.com/AndreiGerasjov">
            <img src="assets/twitter.png" alt="Twitter logo" />
        </a>
        <a class="icon" href="https://discord.com/users/1006511108506517535">
            <img src="assets/discord.png" alt="Discord logo" />
        </a>
        <a class="icon" href="https://wa.me/+447403049912">
            <img src="assets/whatsapp.png" alt="Whatsapp logo" />
        </a>
        <a class="icon" href="https://t.me/heathro_1">
            <img src="assets/telegram.png" alt="Telegram logo" />
        </a>
    </div>

</div>