@page "/dungeon"

<PageTitle>Dungeon</PageTitle>

<iframe src="https://www.youtube.com/embed/CK7C5ZkouTI"
    frameborder="0" class="trailer" allowfullscreen
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
></iframe>

<div class="container">

    <div class="description">
        <p>
            "Dungeon" is a 3D turn-based classic RPG built with the Unity Engine, using the C# programming language.
        </p>
        <p>
            You can find it available for free download on <a href="https://heathro.itch.io/dungeon">Itch.io</a>.
        </p>
        <p>
            <a href="https://turnbasedlovers.com/news/10-best-turn-based-games-free-on-itch-io-january-2023/">"Turn Based Lovers"</a>
            included my game in their list of "10 Best Turn-Based Games Free on Itch.io – January 2023".
        </p>
        <p>
            Feel free to explore the source code on <a href="https://github.com/Heathro/Dungeon">GitHub</a>.
        </p>
    </div>

</div>