@page "/fashionplace"

<PageTitle>FashionPlace</PageTitle>

<div class="container">

    <div class="description">
        <p>
            "FashionPlace" is an e-commerce app specializing in clothing, built on a microservices architecture. 
            Customers can shop on a website featuring a search function and an AI assistant for help. 
            The business manages stock, orders, and deliveries through a desktop app.
        </p>
        <p>
            Backend: .NET 8.0 Microservices, RabbitMQ, Docker, SignalR<br />
            Frontend: Customers - Next.js web app, Business - MAUI desktop app<br />
            AI: LLaMA3 based model running in an Ollama Docker container<br />
            Data: PostgreSQL (Entity Framework), MongoDB (MongoDB.Entities)<br />
            Identity: Duende IdentityServer<br />
            Testing: xUnit (unit and integration tests)
        </p>
        <p>
            * Project currently in development.
        </p>
        <p>
            The full code can be found on <a href="https://github.com/Heathro/FashionPlace">GitHub</a>.
        </p>
    </div>
</div>

<img src="assets/fp-architecture.png" alt="Screenshot of FashionPlace architecture" class="screenshot" />
<img src="assets/fp-web.png" alt="Screenshot of FashionPlace website" class="screenshot" />
<img src="assets/fp-ai.png" alt="Screenshot of FashionPlace website ai assistant" class="screenshot" />
<img src="assets/fp-create.png" alt="Screenshot of Maui desktop app creating product" class="screenshot" />
<img src="assets/fp-login.png" alt="Screenshot of Maui desktop app login" class="screenshot" />