@page "/"

<PageTitle>Home</PageTitle>

<img src="assets/heathro-avatar.jpg" alt="Avatar of website creator" class="avatar" />

<div class="container">

    <div class="greeting">
        <p>Hey!</p>
    </div>

    <div class="description">
        <p>
            My name is Andrei Gerasjov, originally from Estonia, and since 2015, I have called the United Kingdom my home.
        </p>
        <p>
            In January 2020, I discovered my passion for programming, and since then, I have created numerous projects in different domains.
        </p>
        <p>
            Here, you can learn more about me and my projects.
        </p>
    </div>

</div>