@page "/lost"

<PageTitle>Lost</PageTitle>

<iframe src="https://www.youtube.com/embed/6hO3h26ZhBk"
    frameborder="0" class="trailer" allowfullscreen
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
></iframe>

<div class="container">

    <div class="description">
        <p>
            "Lost" is a 2D retro pixel-art adventure platformer. It is built using the Love2D game engine and the Lua programming language.
        </p>
        <p>
            The game is free to play; you can download it from <a href="https://heathro.itch.io/lost">Itch.io</a>.
        </p>
        <p>
            The <a href="https://scratchingtheitch.libsyn.com/episode-29-love2d-games">"Scratching the Itch"</a>
            podcast referred to my game as a "2-dimensional treasure made in the Love2D engine."
        </p>
        <p>
            The source code is available on <a href="https://github.com/Heathro/Lost">GitHub</a>.
        </p>
    </div>

</div>