@page "/luckyyou"

<PageTitle>LuckyYou</PageTitle>

<img src="assets/luckyyou-image.png" alt="Screenshot of LuckyYou application" class="screenshot" />

<div class="container">

    <div class="description">
        <p>
            "LuckyYou" is a Windows desktop application based on .NET WPF.
        </p>
        <p>
            It is used for raffle automation and has two main parts:<br />

            1. Word Generator - Using a 1.5+ million word base, the app generates words with unique letters using parameters such as length, must-contain letters, and must-not-contain letters.<br />

            2. Automation - It includes features for copying sequences of numbers/words, emojis, the alphabet, money amounts, etc., to the clipboard.
        </p>
        <p>
            If you are interested in the source code, please check out my <a href="https://github.com/Heathro/LuckyYou">GitHub</a>.
        </p>
    </div>

</div>