@page "/heathrowebsite"

<PageTitle>HeathroWebsite</PageTitle>

<div class="container">

    <div class="description">
        <p>
            This Blazor WebAssembly App you're looking at is also my project, by the way.
        </p>
        <p>
            You can find source code at <a href="https://github.com/Heathro/HeathroWebsite">GitHub</a>.
        </p>
    </div>

</div>